:root {

  /* Colors */
  --clr-page-background: 144, 11%, 70%;
  --clr-footer-background: 172, 31%, 10%;
  --clr-panel-background: 144, 15%, 10%;
  --clr-scrolling-text: 144, 15%, 30%;
  --clr-text-primary: 0, 0%, 100%;
  --clr-text-highlight: 150, 58%, 64%;

  --panel-alpha: 0.5;
  --panel-texture-alpha: 0.6;
  --panel-texture: url("../images/texture.png");

  /* Font family, sizing etc */
  --ff-primary: "Be Vietnam Pro", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-logo: "Press Start 2P", Monospace;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-600);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-600);
  --fs-button: var(--fs-300);

  /* Utility size vars */
  --size-100: .25rem;
  --size-200: .5rem;
  --size-300: .75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4.5rem;
  --size-900: 5rem;

  --content-max-width: 70rem;
}

@media (max-width: 50em) {
  :root {
      /* Mobile font sizing */
    --fs-body: var(--fs-600);
    --fs-nav: var(--fs-600);
  }
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* CSS reset to keep consistency across browsers */
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, padding and inherit font */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* General styling and spacing */

p {
  padding: 5px;
}

ul[aria-role="nav-list"] {
  list-style: none;
}

ul[aria-role="list"] {
  padding-inline-start: 40px;
}

i {
  display: inline !important; /* fixes annoying margin issue with font-awesome */
}

strong {
  font-weight: bold;
}

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: hsl(var(--clr-text-primary));
  background-color: hsl(var(--clr-page-background));
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

main,
header,
footer > * {
  position: relative;
  --max-width: var(--content-max-width);
  --container-padding: var(--size-400);
  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;  
}

.logo {
  font-family: var(--ff-logo);
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Panels */

.panel {
  position: relative;
  border-radius: var(--size-300);
  background: hsla(var(--clr-panel-background), var(--panel-alpha));
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  backdrop-filter: blur(.75rem);
  -webkit-backdrop-filter: blur(.75rem);
}

.panel::before {
  content: "";
  background-image: var(--panel-texture);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: var(--panel-texture-alpha);
  pointer-events: none;
}

@media (min-width: 50em) {
  .panel-lg {
    position: relative;
    border-radius: var(--size-300);
    background: hsla(var(--clr-panel-background), var(--panel-alpha));
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    backdrop-filter: blur(.75rem);
    -webkit-backdrop-filter: blur(.75rem);
  }

  .panel-lg::before {
    content: "";
    background-image: var(--panel-texture);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: var(--panel-texture-alpha);
    pointer-events: none;
  }
}

@media (max-width: 50em) {
  .panel-sm {
    position: relative;
    border-radius: var(--size-300);
    background: hsla(var(--clr-panel-background), var(--panel-alpha));
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    backdrop-filter: blur(.75rem);
    -webkit-backdrop-filter: blur(.75rem);
  }

  .panel-sm::before {
    content: "";
    background-image: var(--panel-texture);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: var(--panel-texture-alpha);
    pointer-events: none;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Utility classes */

/* For sr only text */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.even-columns {
  display: grid;
  grid-column: 1fr 1fr;
  gap: var(--size-400);
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.vertical-align-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

@media (max-width: 50em) {
  .justify-self-end-sm {
    justify-self: end;
  }
}

@media (min-width: 50em) {
  .justify-self-end-lg {
    justify-self: end;
  }
}

.text-center {
  text-align: center;
}

.text-center p {
  margin-inline: auto;
}

@media (max-width: 50em) {
  .text-center-sm {
    text-align: center;
  }

  .text-center-sm p {
    margin-inline: auto;
  }
}

@media (min-width: 50em) {
  .text-center-lg {
    text-align: center;
  }

  .text-center-lg p {
    margin-inline: auto;
  }
}

/* Color */

.text-primary {
  color: hsl(var(--clr-text-primary));
}

.text-page-background {
  color: hsl(var(--clr-page-background));
}

.text-footer-background {
  color: hsl(var(--clr-footer-background));
}

.text-panel-background {
  color: hsl(var(--clr-panel-background));
}

.text-highlight {
  color: hsl(var(--clr-text-highlight));
}

.bg-text-primary {
  background-color: hsl(var(--clr-text-primary));
}

.bg-page-background {
  background-color: hsl(var(--clr-page-background));
}

.bg-footer-background {
  background-color: hsl(var(--clr-footer-background));
}

.bg-panel-background {
  background-color: hsl(var(--clr-panel-background));
}

.bg-text-highlight {
  background-color: hsl(var(--clr-text-highlight));
}

/* Font */

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-100 {
  font-size: var(--fs-100);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

/* Padding */

.padding-block-100 {
  padding-block: var(--size-100);
}

.padding-block-200 {
  padding-block: var(--size-200);
}

.padding-block-300 {
  padding-block: var(--size-300);
}

.padding-block-400 {
  padding-block: var(--size-400);
}

.padding-block-500 {
  padding-block: var(--size-500);
}

.padding-block-600 {
  padding-block: var(--size-600);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

/* Margin */

.margin-top-100 {
  margin-block-start: var(--size-100);
}

.margin-top-200 {
  margin-block-start: var(--size-200);
}

.margin-top-300 {
  margin-block-start: var(--size-300);
}

.margin-top-400 {
  margin-block-start: var(--size-400);
}

.margin-top-500 {
  margin-block-start: var(--size-500);
}

.margin-top-600 {
  margin-block-start: var(--size-600);
}

.margin-top-700 {
  margin-block-start: var(--size-700);
}

.margin-top-800 {
  margin-block-start: var(--size-800);
}

.margin-top-900 {
  margin-block-start: var(--size-900);
}

.margin-bottom-100 {
  margin-block-end: var(--size-100);
}

.margin-bottom-200 {
  margin-block-end: var(--size-200);
}

.margin-bottom-300 {
  margin-block-end: var(--size-300);
}

.margin-bottom-400 {
  margin-block-end: var(--size-400);
}

.margin-bottom-500 {
  margin-block-end: var(--size-500);
}

.margin-bottom-600 {
  margin-block-end: var(--size-600);
}

.margin-bottom-700 {
  margin-block-end: var(--size-700);
}

.margin-bottom-800 {
  margin-block-end: var(--size-800);
}

.margin-bottom-900 {
  margin-block-end: var(--size-900);
}