:root {

  /* Colors */
  --clr-primary-400: hsl(232 12% 13%);

  --clr-neutral-900: hsl(0 0% 25%);
  --clr-neutral-100: hsl(0 0% 80%);
  --clr-neutral-200: hsl(0 0% 90%);

  --clr-text-background-default: hsl(300 0.7% 30%); /* for when the blur effect isn't supported */
  --clr-text-background-lit: hsl(0 0% 100% / 0.1);

  /* Font family, sizing etc */
  --ff-primary: "Be Vietnam Pro", sans-serif;
  --ff-logo: "Press Start 2P", Monospace;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.875rem;
  --fs-800: 2.5rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-600);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-800);
  --fs-nav: var(--fs-600);
  --fs-button: var(--fs-300);

  /* utility size vars */
  --size-100: .25rem;
  --size-200: .5rem;
  --size-300: .75rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4.5rem;
  --size-900: 5rem;
}

@media (max-width: 50em) {
  :root {
      /* Mobile font sizing */
    --fs-body: var(--fs-600);
    --fs-nav: var(--fs-600);
  }
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* CSS reset to keep consistency across browsers */
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, padding and inherit font */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* general styling */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: white;
  background-color: var(--clr-neutral-900);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  color: white;
}

section {
  padding: 1rem 0rem;
  background: var(--clr-text-background-default);
  border-radius: var(--size-300);
  max-width: 70rem;
  margin-inline: auto;
}

main {
  margin: 0rem 2rem;
}

@supports (backdrop-filter: blur(.5rem)) {
  section {
    background: var(--clr-text-background-lit);
    backdrop-filter: blur(.5rem);  
  }
}

section:not(:first-child) {
  margin-block-start: 2rem;
}

.logo {
  font-family: var(--ff-logo);
}

p {
  padding: 5px;
}

ul[role="nav-list"] {
  list-style: none;
}

ul[role="list"] {
  padding-inline-start: 40px;
}

i {
  display: inline !important; /* fixes annoying margin issue with font-awesome */
}

strong {
  font-weight: bold;
}

/* header navigation */

.primary-header {
  margin-bottom: 2rem;
  padding-top: var(--size-500);
  padding: 1rem 0rem;
  background: var(--clr-text-background-default);
  border-radius: var(--size-300);
  max-width: 70rem;
  margin-inline: auto;
}

@supports (backdrop-filter: blur(.5rem)) {
  .primary-header {
    background: var(--clr-text-background-lit);
    backdrop-filter: blur(.5rem);  
  }
}

.mobile-nav-toggle {
  display: none;
}

.primary-nav-list a {
  font-size: var(--fs-nav);
  font-weight: var(--fw-bold);
  text-decoration: none;
  color: white;
}

@media (min-width: 50em) {

  .primary-header ul {
    display: flex;
    justify-content: space-around;
  }

  .primary-nav-list {
    text-align: center;
    display: flex;
    gap: clamp(var(--size-300), 2vw, var(--size-900));
    font-weight: var(--fw-semi-bold);
  }
}

@media (max-width: 50em) {
  
  .primary-header {
    margin: 0;
    padding: 0px;
    backdrop-filter: none;
  }

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .primary-header[data-overlay]{
    position: relative;
    z-index: 8;
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    background: hsla(0, 0%, 0%, 0.5);
    z-index: 8;
  }

  @supports (backdrop-filter: blur(.5rem)) {
    .primary-header[data-overlay]::before {
      background: var(--clr-text-background-lit);
      backdrop-filter: blur(.5rem);  
    }
  }

  .primary-nav[data-visible] {
    display: block;
  }

  .primary-nav {
    display: none;
    position: fixed;
    padding: var(--size-500);
    inset: 7rem var(--size-400) auto;
    max-width: 15rem;
    margin-inline: auto;
    background: var(--clr-primary-400);
    border-radius: var(--size-100);
    z-index: 9;
  }

  .primary-nav-list {
    display: grid;
    gap: 1rem;
  }

  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: var(--size-500);
    right: var(--size-500);
    z-index: 9;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
    width: 2em;
    aspect-ratio: 1;
    background-image: url('../images/icon-hamburger.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url('../images/icon-close.svg');
  }
}

/* footer */

.primary-footer {
  font-size: var(--fs-nav);
  margin-top: auto;
}

.primary-footer>*>*>* {
  margin-inline: auto;
}

.footer-nav a {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

.footer-links {
  padding: 10;
}

.footer-links a {
  color: var(--clr-neutral-100);
  text-decoration: none;
  padding: 0px 5px;
}

.footer-links a:where(:hover, :focus) {
  color: white;
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------------------------ */

/* Utility classes */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.container {
  --max-width: 1110px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.even-columns {
  display: grid;
  gap: 1rem;
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.vertical-align-center {
  align-items: center;
}

.justify-self-end {
  justify-self: end;
}

@media (min-width: 50em) {
  .justify-self-end-md {
    justify-self: end;
  }
}

.text-center {
  text-align: center;
}

.text-center p {
  margin-inline: auto;
}

@media (max-width: 50em) {
  .text-center-sm {
    text-align: center;
  }

  .text-center-sm p {
    margin-inline: auto;
  }
}

.text-primary-400 {
  color: var(--clr-neutral-900);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-900 {
  color: var(--clr-primary-400);
}

.bg-primary-400 {
  background-color: var(--clr-neutral-900);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-900 {
  background-color: var(--clr-primary-400);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-500 {
  padding-block: var(--size-500);
}

.margin-top-600 {
  margin-block-start: var(--size-600);
}

.margin-top-500 {
  margin-block-start: var(--size-500);
}

.margin-top-400 {
  margin-block-start: var(--size-400);
}

.margin-bottom-700 {
  margin-block-end: var(--size-700);
}

.margin-bottom-400 {
  margin-block-end: var(--size-400);
}