<footer class="primary-footer padding-block-700 margin-top-900 bg-footer-background text-primary">
  <div class="container">
    <div class="even-columns">
      <div class="text-center-sm footer-section">
        <p class="logo fs-700 glitch-delay" style="--glitch-bg-override: --clr-page-background">[K.Vines]</p>
        <p>Coding Portfolio</p>
      </div>
      <div class="footer-section">
        <div class="even-columns">
          <nav class="footer-nav">
            <ul aria-label="Footer" aria-role="nav-list">
              <li><a class="glitch-hover" style="--glitch-left-offset: 18px; --glitch-bg-override: --clr-page-background;" href="/"><i class="fa-solid fa-house"></i> Home</a></li>
              <li><a class="glitch-hover" style="--glitch-left-offset: 18px; --glitch-bg-override: --clr-page-background;" href="/AboutMe"><i class="fa-solid fa-user"></i> About Me</a></li>
              <li><a class="glitch-hover" style="--glitch-left-offset: 18px; --glitch-bg-override: --clr-page-background;" href="/Projects"><i class="fa-solid fa-code"></i> Projects</a></li>
                </ul>
          </nav>
          <nav class="footer-nav">
            <ul aria-label="Footer" aria-role="nav-list">
              <li><a class="glitch-hover" style="--glitch-bg-override: --clr-page-background" href="/Project/1">Project 1</a></li>
              <li><a class="glitch-hover" style="--glitch-bg-override: --clr-page-background" href="/Project/2">Project 2</a></li>
              <li><a class="glitch-hover" style="--glitch-bg-override: --clr-page-background" href="/Project/3">Project 3</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="footer-section">
        <p class="fw-bold fs-600">Where to find me</p>
        <div class="text-center-sm footer-links text-center fs-700">
          <a href="https://www.linkedin.com/in/kristianvines"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/kvines4"><i class="fa-brands fa-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

<style>
  .primary-footer {
    position: relative;
    font-size: var(--fs-nav);
    margin-top: auto;
  }

  .primary-footer>*>*>* {
    margin-inline: auto;
  }

  .footer-nav a,
  .footer-links a {
    color: var(--clr-text-primary);
    text-decoration: none;
  }

  .footer-links a {
    padding: 0 var(--size-200);
  }

  .footer-nav a:where(:hover, :focus),
  .footer-links a:where(:hover, :focus) {
    color: hsl(var(--clr-text-highlight));
    text-decoration: none;
  }
</style>