<button class="mobile-nav-toggle" aria-controls="primary-nav" aria-expanded="false">
  <span class="visually-hidden">Menu</span>
</button>
<header class="primary-header margin-top-600">
  <div class="container">
    <div class="nav-wrapper">
      <nav class="primary-nav" id="primary-nav">
        <ul class="primary-nav-list text-center-sm" role="nav-list" aria-label="Primary" >
          <li><a class="glitch" style="--glitch-left-offset: 5px" href="/"><i class="fa-solid fa-house"></i> Home</a></li>
          <li><a class="glitch" style="--glitch-left-offset: 5px" href="/AboutMe"><i class="fa-solid fa-user"></i> About Me</a></li>
          <li><a class="glitch" style="--glitch-left-offset: 5px" href="/Projects"><i class="fa-solid fa-code"></i> Projects</a></li>
          <li><a class="glitch" href="/Project/1">Project 1</a></li>
          <li><a class="glitch" href="/Project/2">Project 2</a></li>
          <li><a class="glitch" href="/Project/3">Project 3</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>